*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  background-image: url('bgImages/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar{
  width: 270px;
  height: 100vh;
  background-color: rgb(228, 226, 226);
  overflow-y: auto;
  border-top-right-radius: 20px;
  box-shadow: 5px 0px 0px rgb(212, 211, 211);
  padding: 10px; 
  position: sticky;
  top: 0;
}

.bingo-game{
  width: 600px;
  height: 800px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);   
  background-color: ghostwhite;
}

.grid-item{
  border: 1px solid #0a1b2946; 
  resize: none; 
  font-size: 2rem;
  overflow: hidden;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.active{
  padding: 20px 60px;
  border: none;
  outline: none;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to left, #FF007F, #00CFFF);
  cursor: pointer;
  z-index: 1;
}

.active::before {
  content: "";
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border-radius: 4px;
  background-color: white;
  z-index: -1;
}

.active::after {
  content: attr(data);
}

.uploadedImages{
  max-height: 500px;
  min-height: 100px;
  overflow-y: auto;
  border: 2px dashed rgba(0, 0, 0, 0.568);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}

.uploadedImage{
  object-fit: cover;
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
}

.game-wrap{
  overflow-y: auto;
  width: calc(100vw - 270px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.wrap{
  display: flex;
  justify-content: space-around;
}

.wrap button{
  padding: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Audiowide', serif; 
  font-weight: 400; 
  font-style: normal; 
}

.add-words textarea{
  width: 100%;
  min-height: 200px;
  font-size: 1.3rem;
  resize: none;
  overflow: auto;
  color: black;
  padding: 5px;
  font-family: 'Audiowide', serif; 
  font-weight: 400; 
  font-style: normal; 
  margin-top: 10px;
}

.inputFile {
  width: 100%;
  padding: 10px;
  border-top: 2px dashed rgba(0, 0, 0, 0.568); 
  border-right: 2px dashed rgba(0, 0, 0, 0.568); 
  border-left: 2px dashed rgba(0, 0, 0, 0.568); 
}

.selectPlayers{
  padding: 5px;
  font-size: 1.2rem;
  font-family: 'Audiowide', serif; 
  font-weight: 400; 
  font-style: normal; 
  background-color: transparent;
  margin: 0 auto;
  height: 100%;
}

.createSheets{
  height: 100%;
  padding: 0px 10px 0px 10px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.397);
  font-family: 'Audiowide', serif; 
  font-weight: 400; 
  font-style: normal;
  font-size: 1.2rem;
  cursor: pointer;
}

.button-82-pushable {
  font-family: 'Audiowide', serif;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}