*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  background-image: url('bgImages/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar{
  width: 270px;
  height: 100vh;
  background-color: rgb(228, 226, 226);
  overflow-y: auto;
  border-top-right-radius: 20px;
  box-shadow: 5px 0px 0px rgb(212, 211, 211);
  padding: 10px; 
  position: sticky;
  top: 0;
}

.bingo-game{
  width: 600px;
  height: 800px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);   
  background-color: ghostwhite;
}

.grid-item{
  border: 1px solid #0a1b2946; 
  resize: none; 
  font-size: 2rem;
  overflow: hidden;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.active{
  padding: 20px 60px;
  border: none;
  outline: none;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to left, #FF007F, #00CFFF);
  cursor: pointer;
  z-index: 1;
}

.active::before {
  content: "";
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border-radius: 4px;
  background-color: white;
  z-index: -1;
}

.active::after {
  content: attr(data);
}

.uploadedImages{
  max-height: 500px;
  min-height: 100px;
  overflow-y: auto;
  border: 2px dashed rgba(0, 0, 0, 0.568);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}

.uploadedImage{
  object-fit: cover;
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
}

.game-wrap{
  overflow-y: auto;
  width: calc(100vw - 270px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.wrap{
  display: flex;
  justify-content: space-around;
}

.wrap button{
  padding: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Audiowide', serif; 
  font-weight: 400; 
  font-style: normal; 
}

.add-words textarea{
  width: 100%;
  min-height: 200px;
  font-size: 1.3rem;
  color: black;
  padding: 5px;
  font-family: 'Audiowide', serif; 
  font-weight: 400; 
  font-style: normal; 
  margin-top: 20px;
}

.inputFile {
  /* display: none; */
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}

