*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  /* display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  overflow-y: auto;
  flex-direction: column;
  row-gap: 20px; */
  display: flex;
}

.sidebar{
  width: 270px;
  height: 100vh;
  background-color: rgb(228, 226, 226);
  overflow-y: auto;
  border-top-right-radius: 20px;
  box-shadow: 5px 0px 0px rgb(212, 211, 211);
  padding: 10px; 
  position: sticky;
  top: 0;
}

.bingo-game{
  width: 500px;
  height: 700px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
}

.grid-item{
  border: 1px solid #0a1b2946; 
  resize: none; 
  font-size: 2.5rem;
  overflow: hidden;

  /* background-image: url('../icons/cat.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

.active{
  border: 1px dashed black;
}

.uploadedImages{
  max-height: 500px;
  min-height: 100px;
  overflow-y: auto;
  border: 2px dashed black;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}

.uploadedImage{
  object-fit: cover;
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
}

.game-wrap{
  padding-top: 50px;
  overflow-y: auto;
  width: calc(100vw - 270px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

